<html>
    <head>
        <title>Django blog</title>
    </head>

    <body>
        <div>
            <h1><a href="">Django Blog</a></h1>
        </div>
        <div>
            <p>Publicado: 27.05.2018, 23:00</p>
            <h2><a href="">Primeiro Post</a></h2>
            <p>daslakfjld adsfdaljfaslkdafjlsd fdafdaçfjlkdjafldaldjkf</p>
        </div>

        <div>
                <p>Publicado: 27.05.2018, 23:10</p>
                <h2><a href="">Segundo Post</a></h2>
                <p>daslakfjld adsfdaljfaslkdafjlsd fdafdaçfjlkdjafldaldjkf</p>
            </div>
    </body>
</html>